<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start Cyckeling!</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{styles/register.css}">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">

</head>
<body>

    <header>
        <h2 class="logo">CocktailService</h2>
        <nav class="navigation">
            <a href="about">About</a>
            <button class="btnLogin" id="loginBtn">Login</button>
        </nav>
    </header>

    <div class="container">
        <h1>Start Mixing Cocktail!</h1>
        <p>Already have an account? <a href="/login">Login</a></p>
        
        <form method="POST" th:object="${registerUser}" th:action="@{/register}">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="name" placeholder="name" th:field="*{name}">
                <label for="name">Name</label>
                <i class="bx bxs-user-detail"></i>
            </div>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                
            <div class="input-dob">
                <input type="date" class="form-control" name="dateOfBirth" th:field="*{dateOfBirth}" />
                <label for="dateOfBirth" class="form-label">Date of Birth</label>
            </div>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="username" placeholder="username" th:field="*{username}">
                <label for="username">Username</label>
                <i class="bx bxs-user"></i>
            </div>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" placeholder="password" th:field="*{password}">
                <label for="password">Password</label>
                <i class="bx bxs-lock-alt"></i>
            </div>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>

            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password_copy" placeholder="password_copy" th:field="*{password_copy}">
                <label for="password_copy">Confirm Password</label>
                <i class="bx bxs-lock-alt"></i>
            </div>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('password_copy')}" th:errors="*{password_copy}"></div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="option1" id="option1Checkbox" required>
                <label class="form-check-label" for="option1Checkbox">
                    I agree that I will abide by the traffic laws and specific local regulations depending on the country or region.
                </label>
            </div>
    
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="option2" id="option2Checkbox" required>
                <label class="form-check-label" for="option2Checkbox">
                    I will not vandalise the bicycles and only park them at designated spots.
                </label>
            </div>
            <br>

            <div class="text-center">
                <button type="submit" class="btn btn-primary custom-width">Register</button>
            </div>
            
        </form>
    </div>

    <script>
        var loginButton = document.getElementById('loginBtn');

        loginButton.addEventListener('click', function() {
            window.location.href = 'login';
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var inputs = document.querySelectorAll('.form-control');

            inputs.forEach(function(input) {
                var icon = input.nextElementSibling.nextElementSibling;

                input.addEventListener('focus', function() {
                    input.style.borderBottomColor = 'turquoise';
                    icon.style.color = 'turquoise';
                });

                input.addEventListener('blur', function() {
                    if (input.value.trim() === '') {
                        input.style.borderBottomColor = 'white';
                        icon.style.color = '';
                    }
                });

                if (input.value.trim() !== '') {
                    input.style.borderBottomColor = 'turquoise';
                    icon.style.color = 'turquoise';
                }
            });
        });
    </script>

</body>
</html>

